<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RecordIndexer/src/importer/DOMParser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="importer.DOMParser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/users/guest/j/jyoung19/Documents/CS240/RecordIndexer/demo/indexer_data/Records/Records.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RecordIndexer"/>
</launchConfiguration>
